<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MKWi Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="overlay">
        <h2 id="mmr">MMR : ???</h2>
        <img id="rank-img" src="" alt="Rang" class="rank-icon">
    </div>
    

    <div id="message">
        Please put this at the end of the URL: <code>?player=&lt;your name&gt;</code>, your name being either your Lorenzi name on <a href="https://gb.hlorenzi.com/reg/D7D6u-" target="_blank">https://gb.hlorenzi.com/reg/D7D6u-</a> or someone else's name.
    </div>

    <script src="{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
