<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MKWii Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="overlay">
        <h2>Check Your MMR</h2>
        
        <input type="text" id="player" placeholder="Enter Player Name">
        
        <select id="leaderboard">
            <option value="D7D6u-">Retro Leaderboard</option>
            <option value="Y6ND2_">CT Leaderboard</option>
        </select>

        <button onclick="updateMMR()">Fetch MMR</button>
        <div id="loading" class="loading-spinner" style="display: none;"></div>


        <div id="mmr-container" style="display: none;">
            <h2 id="mmr">MMR : ???</h2>
            <img id="rank-img" src="" alt="Rang" class="rank-icon">
            <h4 id="rank">Click the rank to go to the overlay page</h4>
        </div>
        

        <div id="message">
            Please enter your player name and select a leaderboard.
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
